{% extends "_base.html" %}
{% load static %}
{% block content %}
                <main class="ckut6">
                <div class="cewy4 clpyc cj3hv cofxq c3ff8 c9r0z c0ycj">

                    <!-- Welcome banner -->
                    <div class="rounded-sm clgz1 ct1ew clq63 c4ijw c917q ce97l c5mbg">

                        <!-- Background illustration -->
                        <div class="pointer-events-none hidden cyz0i csmh2 cke32 cvqv9 ckyft czrz8" aria-hidden="true">
                            <svg width="319" height="198" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <path id="welcome-a" d="M64 0l64 128-64-20-64 20z"></path>
                                    <path id="welcome-e" d="M40 0l40 80-40-12.5L0 80z"></path>
                                    <path id="welcome-g" d="M40 0l40 80-40-12.5L0 80z"></path>
                                    <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="welcome-b">
                                        <stop stop-color="#A5B4FC" offset="0%"></stop>
                                        <stop stop-color="#818CF8" offset="100%"></stop>
                                    </linearGradient>
                                    <linearGradient x1="50%" y1="24.537%" x2="50%" y2="100%" id="welcome-c">
                                        <stop stop-color="#4338CA" offset="0%"></stop>
                                        <stop stop-color="#6366F1" stop-opacity="0" offset="100%"></stop>
                                    </linearGradient>
                                </defs>
                                <g fill="none" fill-rule="evenodd">
                                    <g transform="rotate(64 36.592 105.604)">
                                        <mask id="welcome-d" fill="#fff">
                                            <use xlink:href="#welcome-a"></use>
                                        </mask>
                                        <use fill="url(#welcome-b)" xlink:href="#welcome-a"></use>
                                        <path fill="url(#welcome-c)" mask="url(#welcome-d)" d="M64-24h80v152H64z"></path>
                                    </g>
                                    <g transform="rotate(-51 91.324 -105.372)">
                                        <mask id="welcome-f" fill="#fff">
                                            <use xlink:href="#welcome-e"></use>
                                        </mask>
                                        <use fill="url(#welcome-b)" xlink:href="#welcome-e"></use>
                                        <path fill="url(#welcome-c)" mask="url(#welcome-f)" d="M40.333-15.147h50v95h-50z"></path>
                                    </g>
                                    <g transform="rotate(44 61.546 392.623)">
                                        <mask id="welcome-h" fill="#fff">
                                            <use xlink:href="#welcome-g"></use>
                                        </mask>
                                        <use fill="url(#welcome-b)" xlink:href="#welcome-g"></use>
                                        <path fill="url(#welcome-c)" mask="url(#welcome-h)" d="M40.333-15.147h50v95h-50z"></path>
                                    </g>
                                </g>
                            </svg>
                        </div>

                        <!-- Content -->
                        <div class="c4ijw">
                            <h1 class="text-slate-800 dark:text-slate-100 font-bold cy709 cjefr ci4cg">{{request.user.username}}, {{message}}. 👋</h1>
                            <p class="c6jet">Tous savoir sur les camionnaires:</p>
                        </div>

                    </div>


                    <!-- Cards -->
                    <div class="czwnc cki30 c5va1">

                        <!-- Line chart (Acme Plus) -->
                        <div class="flex bg-white dark:bg-slate-800 rounded-sm border border-slate-200 dark:border-slate-700 cugyv c04fd c4osb cetne chmlm">
                            <div class="cx95x cc5dk">
                                <header class="flex cmgwo cxbmt c7j98">
                                    <!-- Icon -->
                                    <img src="{% static "images/icon-01.svg" %}" width="32" height="32" alt="Icon 01">
                                    <!-- Menu button -->
                                    <div class="inline-flex c4ijw" x-data="{ open: false }">
                                        <button class="rounded-full" :class="open ? 'c6vqo ce4zx text-slate-500 dark:czgoy': 'czgoy cljes ciz4v coyl7'" aria-haspopup="true" @click.prevent="open = !open" :aria-expanded="open">
                                            <span class="cbl3h">Menu</span>
                                            <svg class="c3wll chmgx c6dxj" viewBox="0 0 32 32">
                                                <circle cx="16" cy="16" r="2"></circle>
                                                <circle cx="10" cy="16" r="2"></circle>
                                                <circle cx="22" cy="16" r="2"></circle>
                                            </svg>
                                        </button>
                                        <div class="bg-white dark:bg-slate-800 border border-slate-200 dark:border-slate-700 rounded creyy ct1ew cetne csmh2 c8gb2 cjxbp cke32 c8407 cox8h c5xk8" @click.outside="open = false" @keydown.escape.window="open = false" x-show="open" x-transition:enter="c5mjj coq4n ch8aq ccio3" x-transition:enter-start="opacity-0 c3pue" x-transition:enter-end="cqsra cfwq4" x-transition:leave="c5mjj coq4n ch8aq" x-transition:leave-start="cqsra" x-transition:leave-end="opacity-0" x-cloak="">
                                            <ul>
                                                <li>
                                                    <a class="text-sm flex cn6r0 cnz6z ch1ih c6w4h cw92y cjm6w cynm4" href="#0" @click="open = false" @focus="open = true" @focusout="open = false">Ajouter une demande</a>
                                                </li>
                                                <li>
                                                    <a class="text-sm flex cn6r0 cnz6z ch1ih c6w4h cw92y cjm6w cynm4" href="#0" @click="open = false" @focus="open = true" @focusout="open = false">Liste des demandes</a>
                                                </li>
                                                <li>
                                                    <a class="text-sm flex cvu65 c6tg6 cw92y cjm6w cynm4" href="#0" @click="open = false" @focus="open = true" @focusout="open = false">Effacee une demande</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </header>
                                <h2 class="text-slate-800 dark:text-slate-100 cqosy cs31h c7j98">Demandes</h2>
                                <div class="ciz4v czgoy cqosy cw3n3 c0qeg ci4cg">Sales</div>
                                <div class="flex cxbmt">
                                    <div class="text-3xl font-bold text-slate-800 dark:text-slate-100 mr-2">780</div>
                                    <div class="text-sm rounded-full ck3g6 cqosy ceqwg c6er6">+49%</div>
                                </div>
                            </div>
                            <!-- Chart built with Chart.js 3 -->
                            <!-- Check out src/js/dashboard-charts.js for config -->
                            <div class="ctn2p ci7ed ckut6">
                                <!-- Change the height attribute to adjust the chart height -->
                                <canvas id="dashboard-card-01" width="389" height="128"></canvas>
                            </div>
                        </div>

                        <!-- Line chart (Acme Advanced) -->
                        <div class="flex bg-white dark:bg-slate-800 rounded-sm border border-slate-200 dark:border-slate-700 cugyv c04fd c4osb cetne chmlm">
                            <div class="cx95x cc5dk">
                                <header class="flex cmgwo cxbmt c7j98">
                                    <!-- Icon -->
                                    <img src="{% static "images/icon-02.svg" %}" width="32" height="32" alt="Icon 02">
                                    <!-- Menu button -->
                                    <div class="inline-flex c4ijw" x-data="{ open: false }">
                                        <button class="rounded-full" :class="open ? 'c6vqo ce4zx text-slate-500 dark:czgoy': 'czgoy cljes ciz4v coyl7'" aria-haspopup="true" @click.prevent="open = !open" :aria-expanded="open">
                                            <span class="cbl3h">Menu</span>
                                            <svg class="c3wll chmgx c6dxj" viewBox="0 0 32 32">
                                                <circle cx="16" cy="16" r="2"></circle>
                                                <circle cx="10" cy="16" r="2"></circle>
                                                <circle cx="22" cy="16" r="2"></circle>
                                            </svg>
                                        </button>
                                        <div class="bg-white dark:bg-slate-800 border border-slate-200 dark:border-slate-700 rounded creyy ct1ew cetne csmh2 c8gb2 cjxbp cke32 c8407 cox8h c5xk8" @click.outside="open = false" @keydown.escape.window="open = false" x-show="open" x-transition:enter="c5mjj coq4n ch8aq ccio3" x-transition:enter-start="opacity-0 c3pue" x-transition:enter-end="cqsra cfwq4" x-transition:leave="c5mjj coq4n ch8aq" x-transition:leave-start="cqsra" x-transition:leave-end="opacity-0" x-cloak="">
                                            <ul>
                                                <li>
                                                    <a class="text-sm flex cn6r0 cnz6z ch1ih c6w4h cw92y cjm6w cynm4" href="#0" @click="open = false" @focus="open = true" @focusout="open = false">Option 1</a>
                                                </li>
                                                <li>
                                                    <a class="text-sm flex cn6r0 cnz6z ch1ih c6w4h cw92y cjm6w cynm4" href="#0" @click="open = false" @focus="open = true" @focusout="open = false">Option 2</a>
                                                </li>
                                                <li>
                                                    <a class="text-sm flex cvu65 c6tg6 cw92y cjm6w cynm4" href="#0" @click="open = false" @focus="open = true" @focusout="open = false">Remove</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </header>
                                <h2 class="text-slate-800 dark:text-slate-100 cqosy cs31h c7j98">Demande non traitee</h2>
                                <div class="ciz4v czgoy cqosy cw3n3 c0qeg ci4cg">Sales</div>
                                <div class="flex cxbmt">
                                    <div class="text-3xl font-bold text-slate-800 dark:text-slate-100 mr-2">89</div>
                                    <div class="text-sm rounded-full cqosy ctnuc ceqwg c6er6">-14%</div>
                                </div>
                            </div>
                            <!-- Chart built with Chart.js 3 -->
                            <!-- Check out src/js/dashboard-charts.js for config -->
                            <div class="ctn2p ci7ed ckut6">
                                <!-- Change the height attribute to adjust the chart height -->
                                <canvas id="dashboard-card-02" width="389" height="128"></canvas>
                            </div>
                        </div>
                        
                        <!-- Line chart (Acme Professional) -->
                        <div class="flex bg-white dark:bg-slate-800 rounded-sm border border-slate-200 dark:border-slate-700 cugyv c04fd c4osb cetne chmlm">
                            <div class="cx95x cc5dk">
                                <header class="flex cmgwo cxbmt c7j98">
                                    <!-- Icon -->
                                    <img src="{% static "images/icon-03.svg" %}" width="32" height="32" alt="Icon 03">
                                    <!-- Menu button -->
                                    <div class="inline-flex c4ijw" x-data="{ open: false }">
                                        <button class="rounded-full" :class="open ? 'c6vqo ce4zx text-slate-500 dark:czgoy': 'czgoy cljes ciz4v coyl7'" aria-haspopup="true" @click.prevent="open = !open" :aria-expanded="open">
                                            <span class="cbl3h">Menu</span>
                                            <svg class="c3wll chmgx c6dxj" viewBox="0 0 32 32">
                                                <circle cx="16" cy="16" r="2"></circle>
                                                <circle cx="10" cy="16" r="2"></circle>
                                                <circle cx="22" cy="16" r="2"></circle>
                                            </svg>
                                        </button>
                                        <div class="bg-white dark:bg-slate-800 border border-slate-200 dark:border-slate-700 rounded creyy ct1ew cetne csmh2 c8gb2 cjxbp cke32 c8407 cox8h c5xk8" @click.outside="open = false" @keydown.escape.window="open = false" x-show="open" x-transition:enter="c5mjj coq4n ch8aq ccio3" x-transition:enter-start="opacity-0 c3pue" x-transition:enter-end="cqsra cfwq4" x-transition:leave="c5mjj coq4n ch8aq" x-transition:leave-start="cqsra" x-transition:leave-end="opacity-0" x-cloak="">
                                            <ul>
                                                <li>
                                                    <a class="text-sm flex cn6r0 cnz6z ch1ih c6w4h cw92y cjm6w cynm4" href="#0" @click="open = false" @focus="open = true" @focusout="open = false">Option 1</a>
                                                </li>
                                                <li>
                                                    <a class="text-sm flex cn6r0 cnz6z ch1ih c6w4h cw92y cjm6w cynm4" href="#0" @click="open = false" @focus="open = true" @focusout="open = false">Option 2</a>
                                                </li>
                                                <li>
                                                    <a class="text-sm flex cvu65 c6tg6 cw92y cjm6w cynm4" href="#0" @click="open = false" @focus="open = true" @focusout="open = false">Remove</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </header>
                                <h2 class="text-slate-800 dark:text-slate-100 cqosy cs31h c7j98">Demande accomplies</h2>
                                <div class="ciz4v czgoy cqosy cw3n3 c0qeg ci4cg">Sales</div>
                                <div class="flex cxbmt">
                                    <div class="text-3xl font-bold text-slate-800 dark:text-slate-100 mr-2">962</div>
                                    <div class="text-sm rounded-full ck3g6 cqosy ceqwg c6er6">+29%</div>
                                </div>
                            </div>
                            <!-- Chart built with Chart.js 3 -->
                            <!-- Check out src/js/dashboard-charts.js for config -->
                            <div class="ctn2p ci7ed ckut6">
                                <!-- Change the height attribute to adjust the chart height -->
                                <canvas id="dashboard-card-03" width="389" height="128"></canvas>
                            </div>
                        </div>
                        
                        <!-- Card (Recent Activity) -->
                        <div class="bg-white dark:bg-slate-800 rounded-sm border border-slate-200 dark:border-slate-700 cancr c4osb cetne">
                            <header class="dark:border-slate-700 cjw7x cz4zt cx95x ctysv">
                                <h2 class="text-slate-800 dark:text-slate-100 cqosy">Recent Activity</h2>
                            </header>
                            <div class="cmue4">

                                <!-- Card content -->
                                <!-- "Today" group -->
                                <div>
                                    <header class="rounded-sm ciz4v c1vyl ce4zx czgoy cqosy cn1je cw3n3 c0qeg cnk1n">Today</header>
                                    <ul class="coc8k">
                                        <!-- Item -->
                                        <li class="flex ciamg">
                                            <div class="rounded-full cf1ce c7n6y c40t1 czt1n ccqvu ce4tq">
                                                <svg class="text-indigo-50 c3wll ccqvu ce4tq" viewBox="0 0 36 36">
                                                    <path d="M18 10c-4.4 0-8 3.1-8 7s3.6 7 8 7h.6l5.4 2v-4.4c1.2-1.2 2-2.8 2-4.6 0-3.9-3.6-7-8-7zm4 10.8v2.3L18.9 22H18c-3.3 0-6-2.2-6-5s2.7-5 6-5 6 2.2 6 5c0 2.2-2 3.8-2 3.8z"></path>
                                                </svg>
                                            </div>
                                            <div class="flex items-center dark:border-slate-700 text-sm cjw7x cz4zt ckut6 cfnh0">
                                                <div class="flex cmgwo ckut6">
                                                    <div class="ckvsq"><a class="text-slate-800 dark:text-slate-100 c8lgs ciqv7 cw92y" href="#0">Nick Mark</a> mentioned <a class="text-slate-800 dark:text-slate-100 c8lgs ciqv7 cw92y" href="#0">Sara Smith</a> in a new post</div>
                                                    <div class="c7n6y c93ao c9o7o">
                                                        <a class="text-indigo-500 cuv1l cdi3j cw92y" href="#0">View<span class="hidden cp4i7"> -&gt;</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Item -->
                                        <li class="flex ciamg">
                                            <div class="rounded-full c0vjv c7n6y c40t1 czt1n ccqvu ce4tq">
                                                <svg class="c3wll cu7c2 ccqvu ce4tq" viewBox="0 0 36 36">
                                                    <path d="M25 24H11a1 1 0 01-1-1v-5h2v4h12v-4h2v5a1 1 0 01-1 1zM14 13h8v2h-8z"></path>
                                                </svg>
                                            </div>
                                            <div class="flex items-center dark:border-slate-700 text-sm cjw7x cz4zt ckut6 cfnh0">
                                                <div class="flex cmgwo ckut6">
                                                    <div class="ckvsq">The post <a class="text-slate-800 dark:text-slate-100 c8lgs ciqv7 cw92y" href="#0">Post Name</a> was removed by <a class="text-slate-800 dark:text-slate-100 c8lgs ciqv7 cw92y" href="#0">Nick Mark</a></div>
                                                    <div class="c7n6y c93ao c9o7o">
                                                        <a class="text-indigo-500 cuv1l cdi3j cw92y" href="#0">View<span class="hidden cp4i7"> -&gt;</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Item -->
                                        <li class="flex ciamg">
                                            <div class="rounded-full ck3g6 c7n6y c40t1 czt1n ccqvu ce4tq">
                                                <svg class="c7lu6 c3wll ccqvu ce4tq" viewBox="0 0 36 36">
                                                    <path d="M15 13v-3l-5 4 5 4v-3h8a1 1 0 000-2h-8zM21 21h-8a1 1 0 000 2h8v3l5-4-5-4v3z"></path>
                                                </svg>
                                            </div>
                                            <div class="flex items-center text-sm ckut6 cfnh0">
                                                <div class="flex cmgwo ckut6">
                                                    <div class="ckvsq"><a class="text-slate-800 dark:text-slate-100 c8lgs ciqv7 cw92y" href="#0">Patrick Sullivan</a> published a new <a class="text-slate-800 dark:text-slate-100 c8lgs ciqv7 cw92y" href="#0">post</a></div>
                                                    <div class="c7n6y c93ao c9o7o">
                                                        <a class="text-indigo-500 cuv1l cdi3j cw92y" href="#0">View<span class="hidden cp4i7"> -&gt;</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- "Yesterday" group -->
                                <div>
                                    <header class="rounded-sm ciz4v c1vyl ce4zx czgoy cqosy cn1je cw3n3 c0qeg cnk1n">Yesterday</header>
                                    <ul class="coc8k">
                                        <!-- Item -->
                                        <li class="flex ciamg">
                                            <div class="rounded-full ca1cm c7n6y c40t1 czt1n ccqvu ce4tq">
                                                <svg class="c3wll ckh81 ccqvu ce4tq" viewBox="0 0 36 36">
                                                    <path d="M23 11v2.085c-2.841.401-4.41 2.462-5.8 4.315-1.449 1.932-2.7 3.6-5.2 3.6h-1v2h1c3.5 0 5.253-2.338 6.8-4.4 1.449-1.932 2.7-3.6 5.2-3.6h3l-4-4zM15.406 16.455c.066-.087.125-.162.194-.254.314-.419.656-.872 1.033-1.33C15.475 13.802 14.038 13 12 13h-1v2h1c1.471 0 2.505.586 3.406 1.455zM24 21c-1.471 0-2.505-.586-3.406-1.455-.066.087-.125.162-.194.254-.316.422-.656.873-1.028 1.328.959.878 2.108 1.573 3.628 1.788V25l4-4h-3z"></path>
                                                </svg>
                                            </div>
                                            <div class="flex items-center dark:border-slate-700 text-sm cjw7x cz4zt ckut6 cfnh0">
                                                <div class="flex cmgwo ckut6">
                                                    <div class="ckvsq"><a class="text-slate-800 dark:text-slate-100 c8lgs ciqv7 cw92y" href="#0">240+</a> users have subscribed to <a class="text-slate-800 dark:text-slate-100 c8lgs ciqv7 cw92y" href="#0">Newsletter #1</a></div>
                                                    <div class="c7n6y c93ao c9o7o">
                                                        <a class="text-indigo-500 cuv1l cdi3j cw92y" href="#0">View<span class="hidden cp4i7"> -&gt;</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Item -->
                                        <li class="flex ciamg">
                                            <div class="rounded-full cf1ce c7n6y c40t1 czt1n ccqvu ce4tq">
                                                <svg class="text-indigo-50 c3wll ccqvu ce4tq" viewBox="0 0 36 36">
                                                    <path d="M18 10c-4.4 0-8 3.1-8 7s3.6 7 8 7h.6l5.4 2v-4.4c1.2-1.2 2-2.8 2-4.6 0-3.9-3.6-7-8-7zm4 10.8v2.3L18.9 22H18c-3.3 0-6-2.2-6-5s2.7-5 6-5 6 2.2 6 5c0 2.2-2 3.8-2 3.8z"></path>
                                                </svg>
                                            </div>
                                            <div class="flex items-center text-sm ckut6 cfnh0">
                                                <div class="flex cmgwo ckut6">
                                                    <div class="ckvsq">The post <a class="text-slate-800 dark:text-slate-100 c8lgs ciqv7 cw92y" href="#0">Post Name</a> was suspended by <a class="text-slate-800 dark:text-slate-100 c8lgs ciqv7 cw92y" href="#0">Nick Mark</a></div>
                                                    <div class="c7n6y c93ao c9o7o">
                                                        <a class="text-indigo-500 cuv1l cdi3j cw92y" href="#0">View<span class="hidden cp4i7"> -&gt;</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <!-- Card (Income/Expenses) -->
                        <div class="bg-white dark:bg-slate-800 rounded-sm border border-slate-200 dark:border-slate-700 cancr c4osb cetne">
                            <header class="dark:border-slate-700 cjw7x cz4zt cx95x ctysv">
                                <h2 class="text-slate-800 dark:text-slate-100 cqosy">Income/Expenses</h2>
                            </header>
                            <div class="cmue4">

                                <!-- Card content -->
                                <!-- "Today" group -->
                                <div>
                                    <header class="rounded-sm ciz4v c1vyl ce4zx czgoy cqosy cn1je cw3n3 c0qeg cnk1n">Today</header>
                                    <ul class="coc8k">
                                        <!-- Item -->
                                        <li class="flex ciamg">
                                            <div class="rounded-full c0vjv c7n6y c40t1 czt1n ccqvu ce4tq">
                                                <svg class="c3wll cu7c2 ccqvu ce4tq" viewBox="0 0 36 36">
                                                    <path d="M17.7 24.7l1.4-1.4-4.3-4.3H25v-2H14.8l4.3-4.3-1.4-1.4L11 18z"></path>
                                                </svg>
                                            </div>
                                            <div class="flex items-center dark:border-slate-700 text-sm cjw7x cz4zt ckut6 cfnh0">
                                                <div class="flex cmgwo ckut6">
                                                    <div class="ckvsq"><a class="text-slate-800 dark:text-slate-100 c8lgs ciqv7 cw92y" href="#0">Qonto</a> billing</div>
                                                    <div class="cda18 c7n6y c9o7o">
                                                        <span class="text-slate-800 dark:text-slate-100 cw92y">-$49.88</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Item -->
                                        <li class="flex ciamg">
                                            <div class="rounded-full ck3g6 c7n6y c40t1 czt1n ccqvu ce4tq">
                                                <svg class="c7lu6 c3wll ccqvu ce4tq" viewBox="0 0 36 36">
                                                    <path d="M18.3 11.3l-1.4 1.4 4.3 4.3H11v2h10.2l-4.3 4.3 1.4 1.4L25 18z"></path>
                                                </svg>
                                            </div>
                                            <div class="flex items-center dark:border-slate-700 text-sm cjw7x cz4zt ckut6 cfnh0">
                                                <div class="flex cmgwo ckut6">
                                                    <div class="ckvsq"><a class="text-slate-800 dark:text-slate-100 c8lgs ciqv7 cw92y" href="#0">Cruip.com</a> Market Ltd 70 Wilson St London</div>
                                                    <div class="cda18 c7n6y c9o7o">
                                                        <span class="clfqm cw92y">+249.88</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Item -->
                                        <li class="flex ciamg">
                                            <div class="rounded-full ck3g6 c7n6y c40t1 czt1n ccqvu ce4tq">
                                                <svg class="c7lu6 c3wll ccqvu ce4tq" viewBox="0 0 36 36">
                                                    <path d="M18.3 11.3l-1.4 1.4 4.3 4.3H11v2h10.2l-4.3 4.3 1.4 1.4L25 18z"></path>
                                                </svg>
                                            </div>
                                            <div class="flex items-center dark:border-slate-700 text-sm cjw7x cz4zt ckut6 cfnh0">
                                                <div class="flex cmgwo ckut6">
                                                    <div class="ckvsq"><a class="text-slate-800 dark:text-slate-100 c8lgs ciqv7 cw92y" href="#0">Notion Labs Inc</a></div>
                                                    <div class="cda18 c7n6y c9o7o">
                                                        <span class="clfqm cw92y">+99.99</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Item -->
                                        <li class="flex ciamg">
                                            <div class="rounded-full ck3g6 c7n6y c40t1 czt1n ccqvu ce4tq">
                                                <svg class="c7lu6 c3wll ccqvu ce4tq" viewBox="0 0 36 36">
                                                    <path d="M18.3 11.3l-1.4 1.4 4.3 4.3H11v2h10.2l-4.3 4.3 1.4 1.4L25 18z"></path>
                                                </svg>
                                            </div>
                                            <div class="flex items-center dark:border-slate-700 text-sm cjw7x cz4zt ckut6 cfnh0">
                                                <div class="flex cmgwo ckut6">
                                                    <div class="ckvsq"><a class="text-slate-800 dark:text-slate-100 c8lgs ciqv7 cw92y" href="#0">Market Cap Ltd</a></div>
                                                    <div class="cda18 c7n6y c9o7o">
                                                        <span class="clfqm cw92y">+1,200.88</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Item -->
                                        <li class="flex ciamg">
                                            <div class="rounded-full cr58u c7n6y c40t1 czt1n ccqvu ce4tq">
                                                <svg class="czgoy c3wll ccqvu ce4tq" viewBox="0 0 36 36">
                                                    <path d="M21.477 22.89l-8.368-8.367a6 6 0 008.367 8.367zm1.414-1.413a6 6 0 00-8.367-8.367l8.367 8.367zM18 26a8 8 0 110-16 8 8 0 010 16z"></path>
                                                </svg>
                                            </div>
                                            <div class="flex items-center dark:border-slate-700 text-sm cjw7x cz4zt ckut6 cfnh0">
                                                <div class="flex cmgwo ckut6">
                                                    <div class="ckvsq"><a class="text-slate-800 dark:text-slate-100 c8lgs ciqv7 cw92y" href="#0">App.com</a> Market Ltd 70 Wilson St London</div>
                                                    <div class="cda18 c7n6y c9o7o">
                                                        <span class="text-slate-800 dark:text-slate-100 cbdgz cw92y">+$99.99</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Item -->
                                        <li class="flex ciamg">
                                            <div class="rounded-full c0vjv c7n6y c40t1 czt1n ccqvu ce4tq">
                                                <svg class="c3wll cu7c2 ccqvu ce4tq" viewBox="0 0 36 36">
                                                    <path d="M17.7 24.7l1.4-1.4-4.3-4.3H25v-2H14.8l4.3-4.3-1.4-1.4L11 18z"></path>
                                                </svg>
                                            </div>
                                            <div class="flex items-center text-sm ckut6 cfnh0">
                                                <div class="flex cmgwo ckut6">
                                                    <div class="ckvsq"><a class="text-slate-800 dark:text-slate-100 c8lgs ciqv7 cw92y" href="#0">App.com</a> Market Ltd 70 Wilson St London</div>
                                                    <div class="cda18 c7n6y c9o7o">
                                                        <span class="text-slate-800 dark:text-slate-100 cw92y">-$49.88</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </main>
{% endblock content %}
<script type=”text/javascript”>
 new Vue({
   el: ‘#starting’,
   delimiters: [‘${‘,’}’],
   data: {
   camionneur: [],
   loading: false,
   currentcamionneur: {},
   message: null,
   newCamionneur: { ‘camionneur_heading’: null, ‘camionneur_body’: null },
 },
 mounted: function() {
},
 methods: {
}
 });
 </script>
{% block scripts %}
{% endblock %}
