<!-- templates/_base.html -->

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comesi | App</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="{% static 'css/vendors/flatpickr.min.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <script>
        if (localStorage.getItem('dark-mode') === 'false' || !('dark-mode' in localStorage)) {
            document.querySelector('html').classList.remove('dark');
            document.querySelector('html').style.colorScheme = 'light';
        } else {
            document.querySelector('html').classList.add('dark');
            document.querySelector('html').style.colorScheme = 'dark';
        }
    </script> 
</head>
<body>

            <main class="ckut6">
                <div class="cofxq c3ff8 cewy4 c9r0z c0ycj clpyc cj3hv">

                    <div class="chc4a cwt2u cyd0r">

                        <div class="c9r0z cob4g">
                            <div class="inline-flex ce97l">
                                <img class="canqr" src="{% static "images/404-illustration.svg" %}" width="176" height="176" alt="404 illustration">
                                <img class="hidden ccsmw" src="{% static "images/404-illustration-dark.svg" %}" width="176" height="176" alt="404 illustration dark">
                            </div>
                            <div class="crkc7">Hmm...this page doesn't exist. Try searching for something else!</div>

								{% if user.groups.all|length == 0 %}
								<p>You don't belong to any group.</p>
								{% else %}
								{% for group in user.groups.all %}
									{% if group.name == 'client' %}
									<a href="{% url 'client:client' %}" class="btn cf1ce ceqwg cfeqx">Back To Dashboard</a>
									{% elif group.name == 'admin' %}
									<a href="{% url 'gestion:gestion' %}" class="btn cf1ce ceqwg cfeqx">Back To Dashboard</a>
									{% elif group.name == 'Camionneurs' %}
									<a href="{% url 'camionnaire:camionnaire' %}" class="btn cf1ce ceqwg cfeqx">Back To Dashboard</a>
									{% endif %}
								{% endfor %}
								{% endif %}


                        </div>

                    </div>

                </div>
            </main>
	<script src="{% static 'js/vendors/alpinejs.min.js' %}" defer=""></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/vendors/chart.js'%}"></script>
    <script src="{% static 'js/vendors/moment.js'%}"></script>
    <script src="{% static 'js/vendors/chartjs-adapter-moment.js' %}"></script>
    <script src="{% static 'js/dashboard-charts.js' %}"></script>
    <script src="{% static 'js/vendors/flatpickr.js' %}"></script>
    <script src="{% static 'js/flatpickr-init.js' %}"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="./node_modules/preline/dist/preline.js"></script>
	
</body>
<!-- component -->
